/* ProductsPage.css */

.centered-text {
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    /* Add any additional styling for your product cards here */
    margin: 10px; /* Adjust spacing between product cards */
}
