/* SellerNav.css */
.SellerNav {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  height: 100rem;
}

.SellerNav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.SellerNav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 180px;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
}

.SellerNav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ffd700;
}

.toggle-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
}

.open {
  background-color: #333;
}

.show {
  transform: translateY(0);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .nav-container {
      transition: transform 0.3s ease-in-out;
  }
  .nav-links {
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #333;
      flex-direction: column;
      text-align: center;
      display: none;
      height: 100rem;
      
  }

  .nav-links.show {
    display: flex;
  }

  .toggle-btn {
    display: flex;
    
  }

  .bar {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #fff;
  }

  .open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
